/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/XpeHb/v16/.suo
/__pycache__/class_and_agent.cpython-37.pyc
/__pycache__/factory.cpython-37.pyc
/__pycache__/goods.cpython-37.pyc
/__pycache__/pops.cpython-37.pyc
/__pycache__/settlement.cpython-37.pyc
/__pycache__/state.cpython-37.pyc
/__pycache__/strata.cpython-37.pyc
